@font-face {
    font-family: 'Arial Rounded MT';
    src: url('ArialRoundedMTBold.woff2') format('woff2'),
        url('ArialRoundedMTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

